{% extends 'base.html' %}
{% block title %}
  Сообщество "{{ group.title }}"
{% endblock %}

{% block content %}
  <h2>Сообщество "{{ group.title }}"</h2>
  {% if group.description %}
    <p>{{ group.description }}</p>
  {% else %}
    <p>У сообщества {{ group.title }} нет дополнительного описания</p>
  {% endif %}
  <p><h3>Сообщения сообщества "{{ group.title }}":</h3></p>
  {% for post in group.posts.all %}
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>{{ post.text }}</p>    
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% endblock %}